body {
    background: linear-gradient(to top right, white, aliceblue, grey)
}

nav {
    margin-bottom: -45px
}

nav a {
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    font-size: 20px
}

.red {
    color: red;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
    font-size: 64px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black
}

.subh1 {
    color: rgb(100, 18, 18);
    font-size: 24px;
    margin-top: -10px;
    text-shadow: 1px 1px 2px black;
}

main p {
    color: violet;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 1px 1px 2px black;
    font-size: 24px
}

main h2 {
    color: purple;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    font-size: 30px
}